

.Container{
    background-image: url('./p.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 1000px;
    height: 400px;
    zoom: 1.5;

    margin: auto;
    margin-top: 50px;
    
  

}
.content{
    width: 250px;
    padding: 100px;
    .btn1{
        background-color: white;
        color: black;
        padding: 10px;
    }    
}
.arrivals{
    width: 800px;
    height: 300px;
   text-align: center;
  
    margin: auto;
    h3{
        color: #000;
        margin: 10px;
    }
  
}
.ac{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
  

    h5{
        color:white;
        
    }
    
}




